albumentations==0.5.1
Cython==0.29.23
easydict==1.10
matplotlib==3.7.5
numpy==1.20.3
opencv_python==4.8.0.74
opencv_python_headless==4.8.0.74
scikit_learn==0.24.1
segmentation_models_pytorch==0.3.3
tqdm==4.60.0
gradio==4.44.1
pillow
markupsafe<2.1